{% extends 'base.html.twig' %}

{% block title %}Hello PersonnageController!{% endblock %}

{% block monTitre %}
    Liste des personnages
{% endblock %}
{% block body %}
    <div><img src="{{ asset("images/personnages/benladen.jpg") }}"width="200" height="200"></div>
    <div>Pseudo:{{ pseudo }}</div>
    <div>Age:{{ Age }}</div>
    <div>Force:{{ carac.force }}</div>
    <div>Agilite:{{ carac.Agi }}</div>
    <div>Intel:{{ carac.intel}}</div>
{% endblock %}